<template>
<div>
    
    <h1>


<button class="btn btn-primary">{{button}}</button>
    </h1>

     
</div>
    
</template>
<script>

export default {
    name:'My name',
    button:"aa",
   
    props:{
        name:String,
        button:String
     
      
    },
    
}
</script>
<style scoped>

</style>