<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
      <myname name="sorawit sangnak"/>
       <button1 button="Clickme!!"/>
       
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import myname from './components/myname.vue'
import button1 from './components/button1.vue'

export default {
  name: 'App',
  components: {
    HelloWorld,
    myname,
    button1
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
